Servers:before {
	content: 'Data timestamp: ' attr(age) ' (when it was last updated)'
}
Server:before {
	content: attr(name) ' (' attr(numplayers) '/' attr(maxplayers) ', ' attr(ip) ':' attr(port) ')';
	display:list-item;
	margin-left:3em;
}
Server {
	display:block;
}
Player:after {
	content: attr(name);
	display:list-item;
	margin-left:6em;
}
Player[global_id]:after {
	content: attr(name) ' (' attr(global_id) ')';
